h2{
   font-size: 20pt;
}
.row{
   margin:0px;
}
.conteneurIngredient{
   display: block;
   text-align: center;
}
.conteneurIngredients{
   display: flex;
   justify-content: space-around;
}
#lien{
   float: right;
   right: 0px;
   padding: 0px;
   margin: 0px;
}
.conteneurBtn{
    height: 80px;
}
#sauceTomate{
   height:80px;
   width:80px;
   background-image: url('../medias/sauceTomate.png');
}
#sauceCreme{
   height:80px;
   width:80px;
   background-image: url('../medias/sauceCreme.png');
}
#pizza{
   height:180px;
   width:180px;
   background-image: url('../medias/baseTomate.png');
}

#titre{
	font-size: 18pt;
}

.btnGroup .btnHoraire {
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px;
}

.btnGroup:hover .btnHoraire:hover {
	background-color: #888
}

.btnNext{
	margin-top: 10px;
	width: 100%;
}

.carte{
	width: 100%;
}

.groupPanier .itemPanier{
	text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px;
}

.groupe1{
	margin: 10px;
	background-color: #eee;
	padding: 10px;
}

.groupeMontant{
	margin: 10px;
	background-color: #eee;
}

.groupeEch{
	margin: 10px;
	background-color: #eee;
}

.titrePanier{
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
}

.btnValideCommande{
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
}
