h2{
   font-size: 20pt;
}
.row{
   margin:0px;
}
.conteneurIngredient{
   display: block;
   text-align: center;
}
.conteneurIngredients{
   display: flex;
   justify-content: space-around;
}
.phraseIntro{
   text-align: center;
   font-size:1.2em;
}
#lien{
   float: right;
   right: 0px;
   padding: 0px;
   margin: 0px;
}
.conteneurBtn{
    height: 80px;
    display: flex;
}
#sauceTomate{
   height:80px;
   width:80px;
   background-image: url('../medias/sauceTomate.png');
}
#sauceCreme{
   height:80px;
   width:80px;
   background-image: url('../medias/sauceCreme.png');
}
#pizza{
   height:180px;
   width:180px;
   background-image: url('../medias/baseTomate.png');
}

#titre{
	font-size: 18pt;
}
.btnGroup{
    display: flex;
}
.btnGroup .btnHoraire {
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0px;
    flex-grow: 1;
}

.btnGroup:hover .btnHoraire:hover {
	background-color: #888
}
.btnGroup .active{
   background-color: #4CAF50;
}
.btnGroup .disactive{
   background-color: grey;;
}


.btnNext{
	margin-top: 10px;
	width: 100%;
}

.carte{
	width: 100%;
}

.groupPanier .itemPanier{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px;
}

.groupe1{
	margin: 10px;
	padding: 10px;
}

.groupeMontant{
	margin: 10px;
}

.groupeEch{
	margin: 10px;
}

.nameItem{
	font-weight: bold;
}

.prixItem{
	font-weight: 900;
}

.qteItem{

}

.titrePanier{
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
}

.addPizza{
	margin: 10px;
}

.btnValideCommande{
	width: 100%;
	border-top: 5px;
	border-radius: 0px;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}

.montantItem{
	font-weight: 900;
}

#btnAdd{
	width: auto;
	margin-top: 4px;
}

.addPizza{
	font-weight: 900;
}

.titreEchant{
	font-weight: bolder;
}

.compteNav{
	border-left: #0091ea 5px solid;
}

.contactNav{
	border-left: #64dd17 5px solid;
}

.ingredientNav{
	border-left: #ffd600 5px solid;
}

.decoNav{
	border-left: #ff3d00 5px solid;
}

.groupResto{
	margin: 5px 0px 5px 0px;
	border-left: #64dd17 5px solid;
}

#adresse{
	margin: 0px;
}

.txtContact{
	margin: 10px;
	font-size: 15px;
}

#nomIng{
	color: #424242;
}

.contact{
  border-left: #0091ea 5px solid;
  margin: 10px;
  padding: 10px;
  background-color: #f5f5f5;
}

.itemPizza{
  border-left: #ffd600 5px solid;
  margin-top: 5px;
}